[project]
name = "frpqq"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiohttp>=3.13.2",
    "apscheduler>=3.11.1",
    "pillow>=12.0.0",
    "schedule>=1.2.2",
]
